.search {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.search__input {
  font-size: 18px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #26c6da;
  color: #26c6da;
  outline: none;
  font-family: 'Verdana', sans-serif;
}

.search__button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #26c6da;
  color: #fff;
  font-family: 'Verdana', sans-serif;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
